a {
    color: #675;
}

a img {
    border: none;
}

a:visited {
    color: #342;
}

a:hover {
    color: #9a8;
}

acronym, abbr {
    border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
    font-size: 90%;
    letter-spacing: .07em;
}

acronym, abbr {
    cursor: help;
}

blockquote {
    border-left: 5px solid #ccc;
    margin-left: 1.5em;
    padding-left: 5px;
}

body {
    margin: 1em 3em 1em 3em;
    background: #fff;
    border: solid 2px #565;
    border-bottom: solid 1px #565;
    border-top: solid 3px #565;
    color: #000;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 0;
}

cite {
    font-size: 90%;
    font-style: normal;
}

h2 {
    border-bottom: 1px dotted #ccc;
    font: 110% "Times New Roman", Times, serif;
    letter-spacing: 0.2em;
    margin: 15px 3.5em 2px 0;
    padding-bottom: 2px;
}

h3 {
    border-bottom: dotted 1px #eee;
    font: 100% "Times New Roman", Times, serif;
    margin-top: 0;
}

p, li, .feedback {
    font: 90%/175% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    letter-spacing: -1px;
}

/* classes used by the_meta() */
ul.post-meta {
    list-style: none;
}

ul.post-meta span.post-meta-key {
    font-weight: bold;
}

.feedback {
    color: #ccc;
    text-align: right;
    clear: both;
}

.meta {
    font-size: .75em;
}

.meta li, ul.post-meta li {
    display: inline;
}

.meta ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.meta, .meta a {
    color: #808080;
    font-weight: normal;
    letter-spacing: 0;
}

#content {
    width: 100%;
    padding-left: 2em;
    padding-right: 4em;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: justify;
    float: left;
}

#content p {
    padding-right: 15px;
    padding-left: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
    width: 95%;
}

#new {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
    width: 95%;
}

#new strong{
    background-color: #AABBAA;
}

.header {
    background: #909090;
    border-left: solid 1px #9a9;
    border-right: solid 1px #565;
    border-top: solid 1px #9a9;
    border-bottom: double 3px #aba;
    margin: 0;
    padding: 0;
    clear: both;
    text-indent: 0;
    background-image: url("images/fondo_gris.png");
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header img{
    margin: 0;
    padding: 0;
}

.header .logo img{
    padding: 0;
    background-image: url("images/fondo_gris.png");
    margin-top: -100px;
    margin-right: 4em;
    float: right;
}

.header h1 {
    letter-spacing: 0.2em;
    font: italic normal 230% 'Nimbus Roman', Times, serif;
    padding-top: 10px;
    margin: 0;
}

.header .description {
    font: italic normal 80% 'Nimbus Roman', Times, serif;
    letter-spacing: 0.2em;
    margin: 0;
    color: #fff;
}

#menu {
    background: #fff;
    border-left: 1px dotted #ccc;
    border-top: solid 3px #e0e6e0;
    border-bottom: solid 3px #e0e6e0;
    padding: 20px 10px 20px 20px;
    float: right;
    width: 230px;
    margin-left: 15px;
    margin-right: 3.5em;
}

#menu ul {
    color: #ccc;
    font-weight: bold;
    margin: 0;
    padding-left: 5%;
    text-transform: lowercase;
}

#menu ul li {
    font: italic normal 110% 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    margin-top: 2px;
    padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
}

#menu ul li a {
    text-decoration: none;
}

#menu ul li a:hover {
    border-bottom: 1px solid #809080;
}

#menu #powered{
    padding: 3px;
    text-align: center;
    clear: both;
}

#footer {
    background: #222222;
    border-top: double 3px #aba;
    color: #fff;
    font-size: 11px;
    margin: 10px 0 0 0;
    padding: 0.5em;
    text-align: center;
    clear: both;
}

#footer img {
    padding: 0.5em;
}

#footer a:link, .credit a:hover {
    color: #fff;
}
